[include fluidd.cfg]
[virtual_sdcard]
path: /home/biqu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[include mainsail.cfg]
[include ebb36.cfg]
[include fanControl.cfg]
[include macros.cfg]
[include neopixel_leds.cfg]
[include eddy.cfg]

# This file contains common pin mappings for the BIGTREETECH Manta M8P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
##	[X in MOTOR0] - B Motor
##	[Y in MOTOR1] - A Motor
##	[E in MOTOR6] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
# serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_270027000A504B4633373520-if00
canbus_uuid: 2d78c06320c4
#restart_method: command
##--------------------------------------------------------------------

# [mcu eddy]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310BA771C-if00

[exclude_object]

[skew_correction]


[printer]
kinematics: corexy
max_velocity: 10000  
max_accel: 5000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


# [temperature_sensor MCU]
# sensor_type: temperature_mcu
# min_temp: 0
# max_temp: 100

# [temperature_sensor CB1]
# sensor_type: temperature_host
# min_temp: 0
# max_temp: 100

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1 (B Motor)
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^EBBCan: PB6
position_min: 0
##--------------------------------------------------------------------

##	Uncomment below for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build
#position_endstop: 300
#position_max: 300

##	Uncomment for 350mm build
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC10
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PF3
position_min: 0
##--------------------------------------------------------------------

##	Uncomment for 250mm build
#position_endstop: 250
#position_max: 250

##	Uncomment for 300mm build
#position_endstop: 300
#position_max: 300

##	Uncomment for 350mm build
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PF13
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR6
[stepper_z]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 32
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
## All builds use same Max Z
position_max: 250
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PF8
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear on Motor7
[stepper_z1]
step_pin: PD11
dir_pin: !PD9
enable_pin: !PD15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD14
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Front Right on Motor8
[stepper_z2]
step_pin: PD8
dir_pin: !PC6
enable_pin: !PC7
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PD10
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0



#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE1
heater_pin: PB5 
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA0
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 1
min_temp: 0
max_temp: 120
# control: pid
# pid_kp: 58.437
# pid_ki: 2.347
# pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

# [probe]
# #	Inductive Probe
# #	This probe is not used for Z height, only Quad Gantry Leveling
# #  NPN and PNP proximity switch types can be set by jumper
# # use PROBE_CALIBRATE 
# pin: ^EBBCan: PB9
# x_offset: 0
# y_offset: 0
# # Run -> TESTZ for auto calibration
# #z_offset: -1.784
# #z_offset: -1.8
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.006
# samples_tolerance_retries: 3

# # This G-code will allow you to probe cold, but will also prevent you from probing with a nozzle at printing temperature
# # (to try to preserve your build surface)

# activate_gcode:
#     {% set PROBE_TEMP = 100 %}
#     {% set MAX_TEMP = PROBE_TEMP + 5 %}
#     {% set ACTUAL_TEMP = printer.extruder.temperature %}
#     {% set TARGET_TEMP = printer.extruder.target %}

#     {% if TARGET_TEMP > PROBE_TEMP %}
#         { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
#         M109 S{ PROBE_TEMP }
#     {% else %}
#         # Temperature target is already low enough, but nozzle may still be too hot.
#         {% if ACTUAL_TEMP > MAX_TEMP %}
#             { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
#             TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
#         {% endif %}
#     {% endif %}
    
[input_shaper]
#shaper_freq_x: 56.8
#shaper_type_x: mzv
#shaper_freq_y: 36.4
#shaper_type_y: mzv



#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
pin: PE3
pwm:true
shutdown_value: 0
value: 0.0
cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

# [safe_z_home]
# ##	XY Location of the Z Endstop Switch
# ##	Update -10,-10 to the XY coordinates of your endstop pin 
# ##	(such as 157,305) after going through Z Endstop Pin
# ##	Location Definition step.
# home_xy_position:170,170
# speed:100
# z_hop:10

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
#z_positions:
#    -50, 18
#    125, 298
#    300, 18
#points:
#    30, 5
#    125, 195
#    220, 5

## Uncomment below for 300mm build
#z_positions:
#   -50, 18
#   150, 348
#   350, 18
#points:
#   30, 5
#   150, 245
#   270, 5

## Uncomment below for 350mm build
z_positions:
   -50, 18
   175, 398
   400, 18
points:
   30, 5
   175, 295
   320, 5
##--------------------------------------------------------------------

speed: 500
horizontal_move_z: 10
retries: 3
retry_tolerance: 0.0075



# [bed_mesh]
# speed: 120
# horizontal_move_z: 5
# mesh_min: 10, 15
# mesh_max: 194, 210
# probe_count: 8, 8

# algorithm: bicubic
# fade_start: 1
# fade_end: 10
# fade_target: 0


########################################
# EXP1 / EXP2 (display) pins
########################################

#[board_pins]
#aliases:
#    # EXP1 header
#    EXP1_1=PE9, EXP1_2=PE10,
#    EXP1_3=PE11, EXP1_4=PE12,
#    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
#    EXP1_7=PE15, EXP1_8=PB10,
#    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
#    EXP2_1=PB14, EXP2_2=PB13,
#    EXP2_3=PF7, EXP2_4=PB12,
#    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
#    EXP2_7=PE8, EXP2_8=<RST>,
#    EXP2_9=<GND>, EXP2_10=PC5

# See the sample-lcd.cfg file for definitions of common LCD displays.

#####################################################################
# 	Displays
#####################################################################

#[neopixel btt_mini12864]
#	To control Neopixel RGB in mini12864 display
#pin: EXP1_6
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#       SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#       SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#       SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 16
#*# calibrate =
#*# 	0.050000:3208886.815,0.090000:3208029.000,0.130000:3207184.201,
#*# 	0.170000:3206370.930,0.210000:3205558.087,0.250000:3204758.300,
#*# 	0.290000:3203996.626,0.330000:3203230.596,0.370000:3202469.535,
#*# 	0.410000:3201745.488,0.450000:3201019.676,0.490000:3200289.775,
#*# 	0.530000:3199581.401,0.570000:3198889.570,0.610000:3198239.717,
#*# 	0.650000:3197569.182,0.690000:3196917.393,0.730000:3196283.900,
#*# 	0.770000:3195655.333,0.810000:3195041.313,0.850000:3194454.385,
#*# 	0.890000:3193864.429,0.930000:3193276.554,0.970000:3192723.144,
#*# 	1.010000:3192150.483,1.050000:3191593.887,1.090000:3191077.886,
#*# 	1.130000:3190559.603,1.170000:3190038.407,1.210000:3189540.993,
#*# 	1.250000:3189029.249,1.290000:3188536.248,1.330000:3188055.648,
#*# 	1.370000:3187614.409,1.410000:3187111.972,1.450000:3186665.274,
#*# 	1.490000:3186221.231,1.530000:3185802.741,1.570000:3185364.045,
#*# 	1.610000:3184930.060,1.650000:3184518.898,1.690000:3184106.851,
#*# 	1.730000:3183704.119,1.770000:3183306.735,1.810000:3182949.897,
#*# 	1.850000:3182557.883,1.890000:3182176.824,1.930000:3181811.659,
#*# 	1.970000:3181443.819,2.010000:3181107.779,2.050000:3180757.688,
#*# 	2.090000:3180408.863,2.130000:3180080.623,2.170000:3179755.635,
#*# 	2.210000:3179436.618,2.250000:3179108.087,2.290000:3178805.434,
#*# 	2.330000:3178497.239,2.370000:3178191.204,2.410000:3177887.158,
#*# 	2.450000:3177612.512,2.490000:3177313.013,2.530000:3177022.458,
#*# 	2.570000:3176750.626,2.610000:3176475.073,2.650000:3176228.475,
#*# 	2.690000:3175945.200,2.730000:3175694.045,2.770000:3175444.392,
#*# 	2.810000:3175185.969,2.850000:3174949.009,2.890000:3174703.310,
#*# 	2.930000:3174465.548,2.970000:3174235.198,3.010000:3174002.414,
#*# 	3.050000:3173782.218,3.090000:3173560.236,3.130000:3173347.795,
#*# 	3.170000:3173097.167,3.210000:3172893.835,3.250000:3172690.412,
#*# 	3.290000:3172473.589,3.330000:3172306.629,3.370000:3172074.722,
#*# 	3.410000:3171894.044,3.450000:3171703.656,3.490000:3171507.923,
#*# 	3.530000:3171339.297,3.570000:3171125.665,3.610000:3170952.443,
#*# 	3.650000:3170780.043,3.690000:3170604.136,3.730000:3170417.575,
#*# 	3.770000:3170221.569,3.810000:3170089.558,3.850000:3169914.983,
#*# 	3.890000:3169766.059,3.930000:3169599.915,3.970000:3169441.315,
#*# 	4.010000:3169295.300,4.050000:3169135.693
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 63.435621
#*# drift_calibration =
#*# 	3232367.897248, -246.957534, 1.874976
#*# 	3217717.817745, 79.649163, -1.443299
#*# 	3209603.285938, 157.562325, -2.061954
#*# 	3202929.894139, 224.979902, -2.624869
#*# 	3197883.651316, 265.622201, -2.964294
#*# 	3193542.485900, 308.392661, -3.343332
#*# 	3190420.874434, 325.156716, -3.472525
#*# 	3187830.717415, 340.632798, -3.598668
#*# 	3185753.596854, 349.410254, -3.651729
#*# drift_calibration_min_temp = 29.456462847009675
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.040509, 0.003261, -0.030562, -0.038589, -0.034534, -0.038589, -0.018080, 0.005031, 0.016494
#*# 	0.038368, 0.008224, -0.017459, -0.024323, -0.018080, -0.016296, 0.013953, 0.042535, 0.059760
#*# 	0.027495, -0.006892, -0.025214, -0.017187, -0.009398, -0.011756, 0.030906, 0.068214, 0.084777
#*# 	-0.004323, -0.034131, -0.044628, -0.038874, -0.033239, -0.028379, 0.007570, 0.051902, 0.077595
#*# 	-0.026796, -0.045720, -0.052115, -0.042155, -0.024122, -0.006782, 0.032652, 0.079672, 0.111143
#*# 	-0.044225, -0.052411, -0.055468, -0.038589, -0.013622, 0.007698, 0.057142, 0.110327, 0.144175
#*# 	-0.039279, -0.049371, -0.037495, -0.027081, 0.012454, 0.047773, 0.096304, 0.155077, 0.194095
#*# 	-0.053746, -0.048684, -0.041262, -0.012731, 0.016686, 0.054522, 0.109490, 0.170517, 0.227598
#*# 	-0.955638, -1.028668, -1.048513, -1.078442, -1.087050, -1.101455, -1.079962, -1.036772, -1.023855
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 329.96
#*# min_y = 25.0
#*# max_y = 335.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.659
#*# pid_ki = 1.680
#*# pid_kd = 63.527
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.292
#*# pid_ki = 1.905
#*# pid_kd = 358.856
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 70.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 45.0
#*#
#*# [skew_correction Califlower]
#*# xy_skew = 0.003419502289188168
#*# xz_skew = 0.0
#*# yz_skew = 0.0
